#profilBox {
    left: 0;
    margin-top: 10vh;
    border: solid 3.5px black;
    border-radius: 1vh;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#profilIcon {
    text-align: center;
}

#profilIcon img {
    width: 20vw;
}

#profiltxt{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.profiltxtC{
    padding: 2%;
    text-align: center;
}
hr{
    width: 100%;
    color: black;
    position: absolute;
    top: 50vw;
    left: -0.5vw;
}
#overview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}