#content{
    margin-top: 15vh;
}

#stylingBoxForButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px; /* Abstand zwischen Buttons */
    margin-top: 20px;
}

#button1, #button2, #button3 {
    width: 200px;
    padding: 12px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #2ecc71, #27ae60); /* Grüner Farbverlauf */
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#stylingBoxForButtons div:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #27ae60, #219150);
}

#button4 {
    width: 30px;
    height: auto;
    padding-left: 15px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    background: linear-gradient(135deg, #2ecc71, #27ae60); /* Grüner Farbverlauf */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#button4 img {
    height: auto;
    width: 25px;
    padding-top: 4px;
}
