#rankSystem {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1vh;
    height: 45vh;
    width: 100%;
    position: relative;
}

#rank1, #rank2, #rank3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0FFE0;
    color: black;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.class {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 3vh;
    text-align: center;
}

#rank1 { height: 25vh;}
#rank2 { height: 20vh;}
#rank3 { height: 15vh;}