#profilBox {
    left: 0;
    margin-top: 10vh;
    border: solid 3.5px black;
    border-radius: 1vh;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#profilIcon {
    text-align: center;
}

#profilIcon img {
    width: 20vw;
}

#profiltxt{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
}
.profiltxtC{
    padding: 2%;
    text-align: center;
}
hr{
    width: 100%;
    color: black;
    position: absolute;
    top: 50vw;
    left: -0.5vw;
}
#overview{
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 70vw;
    left: 0.1vw;
    text-align: center;
    justify-items: center;
}

#overview div{
    scale: 1.4;
}
.icons {
    flex: 1;
    text-align: center;
    max-width: 5vw;
    max-height: 5vh;
    object-fit: contain;
    font-size: 3.5vh;
    transform: scale(1.5);
}
.iconsProfil{
    flex: 1;
    text-align: center;
    max-width: 5vw;
    max-height: 5vh;
    object-fit: contain;
    font-size: 3.5vh;
    scale: 2;
}

.icon-text{
    font-size: 1.3rem;
    text-align: center;
}

#pointIcon {
    font-size: 15vh;
}
.overviewBox{
    display: grid;
    grid-row: 1fr 1fr 1fr;
    gap: 5vw;
    width: 20vw;
    height: auto;
    text-align: center;
}
.overviewBox img{
    text-align: center;
}